# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../Microservices-springcloud\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\tuto\Microservices-springcloud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
